
*{
    box-sizing: border-box;
}
body{
    margin:50px;
    font-size: 17px;
}
p{
    color: #0000FF;
    font-size: 20px;    
    font-family:Helvetica;
    text-align: left;
    letter-spacing: 10px;

}
a{
    left: 400px;
    height: 400px;
    padding: 20px;
    margin: 50px;
}
