
*{
    box-sizing: border-box;
}
body{
    margin:50px;
    font-size: 17px;
}

fieldset {
    background-color: #eee;
    margin-bottom: 20px;/*margim parte de baixo*/
    border: 2px solid #ff0000;
}
legend{
    font-family: 'Indie Flower', 'cursive';
    background-color: #0000ff;
    color: #ffffff;
    padding: 5px;
}


