*{/*propriedade serão aplicada a todosos elementos da tela*/
    box-sizing: border-box;/*"border-box" este tamanho vai incluir sim tanto o pading quanto o border
                            "content-box" vem por padrão, o tamanho de um elemnento e definido pelo conteúdo dele, isso não conta o pading quanto o border*/
}

body{
    margin: 0;   
    color: #ff0000;    
}

h1{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
    border: solid 2px currentColor;
}
.texto{
    font-family: 'Qahiri', sans-serif;
    font-size: 30px;
    background-color: rgb(95, 92, 92);
    color: ivory;
    padding: 5px;
   
}








