body{
    margin: 10px;;
    
}


figure{
    padding: 5px;
    margin: 0px;
    border: 1px solid #CCC;
}
figcaption{
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    padding: 2px;
}


