

body{
    margin:0;
    
}
.exemplo {
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin: 100px;
   background:red;/*padronização para caso do navegador não tiver suporte */
    background:linear-gradient(-75deg,white,blue,red);/* Sintax Padrão: 3 propriedades: 1º direção, 2º a primeira cor, 3ª segunda cor e assim sucessivamente*/
    background-color: -moz-linear-gradient(white,blue,red); /* coamndo utiliza para sites que não suportam o "gradient" neste caso Mozila*/
    background-color: -o-linear-gradient(white,blue,red);/*oprera*/
    background-color: -webkit-linear-gradient(white,blue,red);/*Safari*/

}

/*background:linear-gradient(-75deg,white,blue,red); "-75deg"* unidade de medida em graus para efeito do dergrade/



