*{/*propriedade serão aplicada a todosos elementos da tela*/
    box-sizing: border-box;/*"border-box" este tamanho vai incluir sim tanto o pading quanto o border
                            "content-box" vem por padrão, o tamanho de um elemnento e definido pelo conteúdo dele, isso não conta o pading quanto o border*/
}

body{
    margin:0px;
    font-size: 20px;
    font-family: Courier;
    
}

h1{
    font-family: 'Indie Flower', 'cursive';
    font-size: 20px;      
}
.box{
    background-color: #999;
    
    height: 50vmin;


}


/*Unidades de medidas
vh - "height: 100vh;" área disponível visivelmente ao usuário 
vw - "width: 100vw;" área da largura disponível visivelmente ao usuário
vmin - Entre a altura e largura pega quem é o menor ex: height: 50vmin;
vmax - Entre a altura e largura pega quem é o maior ex: height: 50vmax;
*/




