*{
    box-sizing: border-box;
}
body{
    margin:20px;
}
.container{
    background-color: #EEE;
    height: 80vh;
    position: relative;/*para centralizar*/
}
.elemento{
    background-color: rgb(78, 59, 250);
    position: absolute;
    top: 50%;/*para centralizar*/
    left: 50%;/*para centralizar*/
    transform: translate(-50%, -50%);/*para centralizar*/

    
    


}

input {
    padding: 10px;
    width: 300px;
   
    
}


